body {
  background-color: #242424;
  color: #f9f9f9;
  font-family: KyrialProDisplayUltraLight;
  font-size: 24px;
  line-height: 1.6em;
}
a {
  display: block;
}
h1 a {
  padding: 100px 100px 0;
}
h2 a {
  padding: 1em 100px 200px;
  color: #999;
  opacity: 0.4;
}
a .new {
  color: #602acf;
}
  a:hover .new {
    color: #602acf;
  }
  a:hover {
    text-decoration: underline;
  }
h1, h2, h3, h4, label, input[type="text"], input[type="email"], .button {
  font-family: KyrialDisplayProRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, label {
  color: #f9f9f9;
  font-weight: normal;
  opacity: 0.9;
}
h1 {
  font-family: KyrialProDisplayUltraLight;
  font-size: 200%;

  /*display: inline*/;
  text-shadow: 1px 1px 5px #111;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.0em;
}
  h1 .lead {
    font-size: 100%;
    display: block;
    color: #fff;
    font-size: 50%;
    opacity: 0.2;
    line-height: 1em;
    margin-bottom: 0.5em;
  }
  h1 .new {
    padding: 100px 0 200px;
    font-family: KyrialDisplayProRegular;
    font-weight: normal;
  }
  h1 .old {
    /*font-size: 200%;*/
    /*line-height: 33%;*/
    /*vertical-align: -66%;*/
    opacity: 0.4;
  }
h2 {
  font-family: KyrialProDisplayUltraLight;
  font-weight: normal;
  font-size: 100%;
  /*border-bottom: 8px solid #333;*/
  margin: 0 auto;
  margin: 0 auto;
  max-width: 800px;
}
