body {
  background-color: #221638;
}
canvas#threads {
  background-color: #222;
  width: 100%;
}
#info {
  padding-top: 1em;
}
  #info a {
    color: #fff;
    font-weight: bold;
  }
h2, h4, label, input[type="text"], input[type="email"], .button {
  font-family: KyrialDisplayProRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h2, h4, label {
  color: #f0f0f0;
  font-weight: normal;
  opacity: 0.9;
}
h2 {
  font-family: KyrialProDisplayUltraLight;
  font-size: 260%;
}
  h2 strong {
    font-family: KyrialDisplayProRegular;
    font-weight: normal;
  }
h4 {
  font-family: KyrialProDisplayUltraLight;
  font-size: 120%;
}
h4 a {
  font-family: KyrialDisplayProRegular;
  font-weight: normal;
}
label {
  margin-bottom: 0.5em;
  color: #999;
}
  label strong {
    color: #fff;
  }
input[type=text],
input[type=email] {
  border: 5px solid white;
  height: 3em;
}
input[type=checkbox] {
  float: left;
  margin-right: 0.5em;
}
.buttons {
  clear:left;
}
#form {
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin-bottom: 1em;
}
.button {
  background-color: #333;
  border-color: #222;
  margin-bottom: 0;
}

#video-wrapper {
  background-color: #000;
}
#video-columns {
  margin-top: 4em;
  margin-bottom: 4em;
}
#video a.play {
  display: block;
  text-align: center;
  /*position: relative;*/
}
  #video a.play div {
    background: url('/images/thumbnail-360p.jpg') no-repeat left bottom;
    opacity: 0.6;
    transition: opacity 0.2s;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
  }
  #video a.play:hover div {
    opacity: 1;
    transition: opacity 0.1s;
  }
  #video a.play img {
    opacity: 0.8;
    position: absolute;
    top: 0;
  }
